@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
}

p, h1, h2, h3, h4, h5, h6, li, a {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 64px;
    width: 100%;
    background-color: #2738CC;
    color: #fff;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 40px;
    margin-left: 2.5rem;
    float: left;
}

.search_image {
    width: 100%;
    height: 357px;    
    background-image: url('./img/pexels-kindel-media-7054547.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.search_image__field {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
}

.search_field {
    margin: 10.5% 6%;
    width: 88.8%;
    height: 48px;
    background: #F8F9FA;
    border: 1px solid #2738CC;
    border-radius: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2738CC;
}

.mi-input::-webkit-input-placeholder,
.mi-input::-webkit-input-placeholder:before,
.mi-input::-webkit-input-placeholder:after,
.search_field::placeholder, 
.search_field::-moz-placeholder, 
.search_field::-ms-input-placeholder, 
.search_field::-webkit-input-placeholder {
    color: #2738CC;
}

.collections_section--title {
    display: flex;
    padding-top: 35px;
    padding-left: 39px;
}

.collections_section--title h2{
    color: black;
    width: fit-content;
}

.collections_section--title a{
    width: fit-content;
}

.action-button {
    margin-left: 20px;
    box-sizing: border-box;
    width: 170px;
    height: 34px;
    background: #2738CC;
    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    color: #F8F9FA;
    font-size: 16px;
}

.create-button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    box-sizing: border-box;
    width: 88.8%;
    height: 34px;
    background: #2738CC;
    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    color: #F8F9FA;
    font-size: 16px;
}

.collections_section--row {
    width: fit-content;
    display: flex;
    margin-left: 48px;
    margin-top: 35px;
}

.collections-section--row__element{
    width: 256px;
    height: 384px;
    border-radius: 64px;
    margin-left: 32px;
    box-sizing: border-box;
    align-items: center;
}

#cocina {
    background: url('./img/cocina.png');
}

#gimnasio {
    background: url('./img/gimnasio.png');
}

#estudio {
    background: url('./img/estudio.png');
}

.collections-section--row__element button {
    margin: 326px 41px 24px 41px;
    background: #F8F9FA;
    border: 1px solid #2738CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    width: 170px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2738CC;
}

.back_action{
    display: flex;
    margin-top: 20px;
}

.back_action a{
    width: fit-content;
    display: flex;
    text-decoration: none;
}

.back_action svg {
    width: fit-content;
    margin-left: 18px;
}

.back_action p {
    font-size: 16px;
    margin-left: 5px;
    color: black;
}

.create_alarm__title {
    margin-left: 51px;
    margin-top: 48px;

}

.create_alarm__title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.create_alarm__title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.create_alarm__form--row {
    display: flex;
}

.form_ca-1 {
    margin-top: 52px;
    margin-left: 48px;
    width: 540px;
    display: flex;
    flex-direction: column;
}

.form_ca-1__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.form_ca-1__input{
    margin-top: 5px;
    width: 256px;
    height: 48px;
    font-size: 24px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 32px;
}

.form_ca--textarea {
    margin-top: 52px;
    margin-left: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_ca-1__textarea {
    margin-top: 5px;
    width: 88.8%;
    height: 256px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.form_ca--button {
    margin-top: 40px;
    margin-left: 48px;
    box-sizing: border-box;
    width: 88.8%;
    height: 48px;
    background: #2738CC;
    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    color: #F8F9FA;
    font-size: 24px;
}